## to run this example, these packages are needed
- python (tested in python 3.6)
- pandas
- xlrd
- openpyxl

In [16]:
import pandas as pd

In [22]:
filename = 'sample_file_3_sheets.xlsx'

In [23]:
xl = pd.ExcelFile(filename)

In [24]:
xl.sheet_names

['sheet_to_overwrite', 'sheet_do_not_touch', 'sheet_also_do_not_touch']

In [25]:
sheet_name = 'sheet_to_overwrite'
xl.parse(sheet_name)

   update  me
0       1   2
1       1   2
2       1   2
3       1   2

In [31]:
sheet_name = 'sheet_do_not_touch'
sheet2 = xl.parse(sheet_name)
sheet2

   keep  me
0     1   2
1     2   3
2     2   5
3     3   4

In [32]:
sheet_name = 'sheet_also_do_not_touch'
sheet3 = xl.parse(sheet_name)
sheet3

   live  on
0     1   3
1     2   3
2     5   6

In [33]:
writer = pd.ExcelWriter(filename)

In [34]:
dummy_df = pd.DataFrame({'A':[1,1,1,1],
             'B':[2,2,2,2]})

In [35]:
dummy_df

   A  B
0  1  2
1  1  2
2  1  2
3  1  2

In [36]:
dummy_df.to_excel(writer, sheet_name='sheet_to_overwrite', index=False)
sheet2.to_excel(writer, sheet_name='sheet_do_not_touch', index=False)
sheet3.to_excel(writer, sheet_name='sheet_also_do_not_touch', index=False)

In [37]:
writer.save()